<?xml version="1.0"?>
<scripts>
  <collection name="base">
    <script>/Scripts/mootools-1.2-debug.js</script>
    <script>/Scripts/mootools-extensions.js</script>
    <script>/Scripts/native-extensions.js</script>
    <script>/Scripts/helper-functions.js</script>
    <script>/Scripts/excanvas-compressed.js</script>
    <script>/Scripts/CorbisUI.js</script>
  
      <script>/Scripts/CorbisUI.QueueingClasses.js</script>
      <script>/Scripts/CorbisUI.CachingClass.js</script>
      <script>/Scripts/CorbisUI.CookieEvents.js</script>
      <script>/Scripts/CorbisUI.JSSerializer.js</script>
      <script>/Scripts/CorbisUI.Komodo.js</script>

      <script>/Scripts/CorbisUI-BOOTSTRAP.js</script>

      <script>/Scripts/CorbisUI.MethodFailed.js</script>
      <script>/Scripts/CorbisUI.Auth.js</script>
      <script>/Scripts/CorbisUI.GlobalNav.js</script>
      <script>/Scripts/CorbisUI.ImageGroups.js</script>
      <script>/Scripts/CorbisUI.ExpressCheckout.js</script>
      <script>/Scripts/CorbisUI.Legal.js</script>
      <script>/Scripts/CorbisUI.EnlargementTimerSearch.js</script>
      <script>/Scripts/CorbisUI.MSOSearch.js</script>
      <script>/Scripts/CorbisUI.Watermark.js</script>
      <script>/Scripts/CorbisUI.CustomerService.js</script>
      <script>/Scripts/CorbisUI.MyProfile.js</script>
      <script>/Scripts/CorbisUI.Pricing.js</script>
      <script>/Scripts/CorbisUI.FormUtilities.js</script>
      <script>/Scripts/CorbisUI.Events.js</script>
      
    <script>/Scripts/mocha-debug.js</script>
    <script>/Scripts/fValidator-debug.js</script>
    <script>/Scripts/mocha-extensions.js</script>
    <script>/Scripts/ModalPopup.js</script>
    <script>/Scripts/InstantService.js</script>
    <script>/Scripts/rounded.js</script>
    <script>/Scripts/DropShadow.js</script>
    <script>/Scripts/Common.js</script>
    <script>/Scripts/ExtendedSearch.js</script>
    <script>/scripts/ImageRadio.js</script>
    <script>/scripts/glassbutton.js</script>
    <script>/scripts/ImageCheckbox.js</script>
    <script>/scripts/TextIconButton.js</script>
    <script>/Scripts/validation.js</script>
    <script>/Scripts/BrowseBase.js</script>
    
  </collection>
  
  <collection name="searchresults">
    <script>/Scripts/CorbisUI.SearchConstructors.js</script>
    <script>/Scripts/CorbisUI.SearchModels.js</script>
    <script>/Search/Search.js</script>
    <script>/Search/SearchBuddy.js</script>
    <script>/Checkout/AddToCart.js</script>
  </collection>
  
  <!--<collection name="validation">
    
  </collection>-->
  
  <collection name="expresscheckout">
    <script>/Scripts/ExpressCheckout.js</script>
  </collection>
  
  <collection name="checkout">
    <script>/Checkout/Checkout.js</script>
  </collection>

  <collection name="ie7script">
    <script>/Scripts/IE7-debug.js</script>
  </collection>

  <collection name="lightbox">
    <script>/Scripts/CorbisUI.SearchConstructors.js</script>
    <script>/Scripts/CorbisUI.SearchModels.js</script>
    <script>/Lightboxes/Lightbox.js</script>
  </collection>

  <collection name="cart">
    <script>/Checkout/Cart.js</script>
  </collection>

  <collection name="errortracker">
    <script>/Scripts/ErrorTracker.js</script>
  </collection>

  <collection name="filmstrip">
    <script>/Scripts/Filmstrip.js</script>
  </collection>

  <!--
  <collection name="imagedetail">
    <script>/Enlargement/ImageDetail.js</script>
  </collection>
  -->

  <collection name="enlargement">
    <script>/Enlargement/Enlargement.js</script>
  </collection>

  <collection name="order">
    <script>/scripts/Order.js</script>
  </collection>

  <collection name="orderhistory">
    <script>/OrderHistory/OrderHistory.js</script>
  </collection>

  <collection name="imagescript">
    <script>/scripts/Image.js</script>
  </collection>

  <collection name="quickpic">
    <script>/QuickPic/QuickPic.js</script>
  </collection>

  <collection name="emaillbx">
    <script>/Lightboxes/EmailLightbox.js</script>
  </collection>

  <collection name="movelbx">
    <script>/Lightboxes/MoveLightbox.js</script>
  </collection>




</scripts>
