.reqValidator
{
	color:#1a1a1a !important;
	background:#ffffcd;	
	margin:3px 0px;
	display:block;
}

div.ValidationSummary
{
	clear:both;
	background:#ffffcd url(/images/iconerror.png) no-repeat 10px 10px;
	border:solid 1px #ffffcd;       
	min-height: 40px;
	margin-bottom:5px;
	text-align:left;
}
div.ValidationSummary ul
{
	margin:10px 0 10px 44px;
	text-align:left;
	background-image:none !important;
}
div.ValidationSummary li
{
	color:#1a1a1a !important;
	font-weight:normal !important;
	list-style-type:none;
	text-align:left;
	line-height:18px;
}
td.FormRight img.checkbox
{
	position:relative;
	top:-2px;
	left:8px;	
}
td.FormRight span.ImageCheckbox label
{
	position:relative;
	top:-1px;
	left:-16px;	
}