<bindings>
	<wsHttpBinding>
		<binding name="wsHttpBinding_Unsecured"
						 receiveTimeout="00:03:00"
						 sendTimeout="00:03:00"
						 maxReceivedMessageSize="2147483647"
						 maxBufferPoolSize="2147483647"
						 transactionFlow="true">
			<security mode="None"></security>
			<readerQuotas maxDepth="2147483647"
										maxStringContentLength="2147483647"
										maxArrayLength="2147483647"
										maxBytesPerRead="2147483647"
										maxNameTableCharCount="2147483647"/>
		</binding>
	</wsHttpBinding>
	<basicHttpBinding>
    <binding name="StreamedResponse"
            closeTimeout="00:10:00" 
	          openTimeout="00:10:00" 
						receiveTimeout="00:10:00"
						sendTimeout="00:10:00"
            transferMode="StreamedResponse" 
	          messageEncoding="Mtom"
            maxBufferSize="65536" 
	          maxReceivedMessageSize="209715200">
      <security mode="None">
        <transport clientCredentialType="None"/>
      </security>
      <readerQuotas 
            maxDepth="2147483647"				
            maxStringContentLength="2147483647"
					  maxArrayLength="2147483647"
						maxBytesPerRead="65536"
						maxNameTableCharCount="2147483647" />
    </binding>
    <binding name="AsmxConfiguration"
						 receiveTimeout="00:03:00"
						 sendTimeout="00:03:00"
						 maxReceivedMessageSize="2147483647"
						 maxBufferPoolSize="2147483647">
			<security mode="None"></security>
			<readerQuotas maxDepth="2147483647"
										maxStringContentLength="2147483647"
										maxArrayLength="2147483647"
										maxBytesPerRead="2147483647"
										maxNameTableCharCount="2147483647" />
		</binding>
	</basicHttpBinding>
</bindings>
