<client>
  <!-- Please keep these in alphabetical order so we can find things -->
  <endpoint
	name="BetaAccessService_V1"
	contract="Corbis.BetaAccess.Contracts.V1.IBetaAccessContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/BetaAccess/Service_V1.svc"
/>
  <endpoint
	name="DisplayTextService_V1"
	contract="Corbis.DisplayText.Contracts.V1.IDisplayTextContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/DisplayText/Service_V1.svc"
/>
  <endpoint
	name="ImageService_V1"
	contract="Corbis.Image.Contracts.V1.IImageContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/Image/Service_V1.svc"
	behaviorConfiguration="ServiceViewEventBehavior"
/>
  <endpoint
	name="LightboxCartService_V1"
	contract="Corbis.LightboxCart.Contracts.V1.ILightboxCartContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/LightboxCart/Service_v1.svc"
	behaviorConfiguration="ServiceViewEventBehavior"
/>
  <endpoint
	name="MarketingCollectionService_V3"
	contract="Corbis.MarketingCollection.Contracts.V3.IMarketingCollectionContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/MarketingCollection/Service_V3.svc"
/>
  <endpoint
		name="MediaDownloadService_V1"
		contract="Corbis.MediaDownload.Contracts.V1.IMediaDownloadContractTransport"
		binding="basicHttpBinding"
		bindingConfiguration="StreamedResponse"
		address="http://dl00dev1apiint1/MediaDownload/Service_V1.svc/StreamedResponse"
	/>
  <endpoint
	name="MembershipService_V1"
	contract="Corbis.Membership.Contracts.V1.IMembershipContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/Membership/Service_v1.svc"
/>
  <endpoint
	name="OfficeService_V1"
	contract="Corbis.Office.Contracts.V1.IOfficeContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/Office/Service_V1.svc"
/>
  <endpoint
	name="RFCDService_V1"
	contract="Corbis.RFCD.Contracts.V1.IRFCDContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/RFCD/Service_V1.svc"
/>
  <endpoint
	name="SessionStateService_V1"
	contract="Corbis.SessionState.Contracts.V1.ISessionStateContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/SessionState/Service_V1.svc"
/>
  <endpoint
	name="WebAnalyticsService_V1"
	contract="Corbis.WebAnalytics.Contracts.V1.IWebAnalyticsContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/WebAnalytics/Service_V1.svc"
/>
  <endpoint
	name="WebOrdersService_V1"
	contract="Corbis.WebOrders.Contracts.V1.IWebOrdersContractTransport"
	binding="wsHttpBinding"
	bindingConfiguration="wsHttpBinding_Unsecured"
	address="http://dl00dev1apiint1/WebOrders/Service_V1.svc"
/>
</client>
