<httpModules>
	<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
	<!--<add name="DevToolbarModule" type="Corbis.Tools.WebToolbar.DevToolbarModule, Corbis.Tools.WebToolbar"/>-->
	<add name="ContextInformationModule" type="Corbis.Web.UI.HttpModules.ContextInformationModule, Corbis.Web.UI.HttpModules"/>
	<add name="CookieTranslationModule" type="Corbis.Web.UI.HttpModules.CookieTranslationModule, Corbis.Web.UI.HttpModules"/>
	<add name="RedirectionModule" type="Corbis.Web.UI.HttpModules.RedirectionModule, Corbis.Web.UI.HttpModules"/>
</httpModules>
