<membership defaultProvider="CorbisMembershipProvider" userIsOnlineTimeWindow="10">
  <providers>
    <clear/>
    <add name="CorbisMembershipProvider"
      type="Corbis.Web.Authentication.CorbisMembershipProvider, Corbis.Web.Authentication"
      connectionStringName="ProvidersConnectionString"
      applicationName="Corbis.Web"
        />
  </providers>
</membership>