<profile enabled="true" defaultProvider="CorbisProfileProvider" inherits="Corbis.Web.Authentication.Profile">
  <providers>
    <clear />
    <add name="CorbisProfileProvider" type="Corbis.Web.Authentication.CorbisProfileProvider, Corbis.Web.Authentication" />
  </providers>
  <properties />
</profile>
