<roleManager defaultProvider="CorbisRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName="CorbisRoles" cookieTimeout="10" domain="">
  <providers>
    <clear />
    <add name="CorbisRoleProvider" type="Corbis.Web.Authentication.CorbisRoleProvider, Corbis.Web.Authentication" />
  </providers>
</roleManager>