<Corbis.Web.UI.Properties.Settings>
  <setting name="WebRoot" serializeAs="String">
    <value>~</value>
  </setting>
  <setting name="LoggingCategory" serializeAs="String">
    <value>UI</value>
  </setting>
  <setting name="RequestContextUidKey" serializeAs="String">
    <value>RequestContextUid</value>
  </setting>
  <setting name="HttpUrl" serializeAs="String">
    <value>http://pro.localhost.corbis.pre:8080</value>
  </setting>
  <setting name="HttpsUrl" serializeAs="String">
    <value>https://secure.localhost.corbis.pre</value>
  </setting>
</Corbis.Web.UI.Properties.Settings>
