<validation>
	<type defaultRuleset="CreateMember" assemblyName="Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
		name="Corbis.Membership.Contracts.V1.Member">
		<ruleset name="CreateMember">
			<properties>
				<property name="FirstName">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
								upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="FirstNameMissing"
								messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
								name="String Length Validator" />
					<validator pattern="" options="None" patternResourceName="NameRegularExpression"
									patternResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
									messageTemplate="" messageTemplateResourceName="NameInvalidCharacter"
									messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
									tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
									name="Regex Validator" />
				</property>
				<property name="LastName">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
								upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="LastNameMissing"
								messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
								name="String Length Validator" />
					<validator pattern="" options="None" patternResourceName="NameRegularExpression"
									patternResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
									messageTemplate="" messageTemplateResourceName="NameInvalidCharacter"
									messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
									tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
									name="Regex Validator" />
				</property>
				<property name="FuriganaFirstName">
					<validator leadProperty="CultureName"
								resourceType="Corbis.Membership.Contracts.Properties.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								resourceName="FuriganaRegEx"
								messageTemplate="" messageTemplateResourceName="FuriganaFirstNameMissing"
								messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								tag="" type="Corbis.Common.ServiceFactory.Validation.CascadingValidator, Corbis.Common.ServiceFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								name="Cascading Validator" />
				</property>
				<property name="FuriganaLastName">
					<validator leadProperty="CultureName"
						resourceType="Corbis.Membership.Contracts.Properties.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						resourceName="FuriganaRegEx"
						messageTemplate="" messageTemplateResourceName="FuriganaLastNameMissing"
						messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						tag="" type="Corbis.Common.ServiceFactory.Validation.CascadingValidator, Corbis.Common.ServiceFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						name="Cascading Validator" />
				</property>
				<property name="Email">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
								upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="EmailMissing"
								messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
								name="String Length Validator" />
					<validator pattern="" options="None" patternResourceName="EmailRegularExpression"
									patternResourceType="Corbis.Membership.Contracts.Properties.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
									messageTemplate="" messageTemplateResourceName="EmailInvalid"
									messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
									tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
									name="Regex Validator" />
          <validator
						messageTemplate="" messageTemplateResourceName="EmailInvalid"
						messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						tag="" type="Corbis.Common.ServiceFactory.Validation.NonAsciiValidator, Corbis.Common.ServiceFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						name="NonAscii Validator" />
        </property>
				<property name="UserName">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="255"
								upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="UsernameMissing"
								messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
								name="String Length Validator" />
          <validator
						messageTemplate="" messageTemplateResourceName="ContainsNonAsciiCharacters"
						messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						tag="" type="Corbis.Common.ServiceFactory.Validation.NonAsciiValidator, Corbis.Common.ServiceFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						name="NonAscii Validator" />
        </property>
			</properties>
		</ruleset>
	</type>
	<type assemblyName="Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			name="Corbis.Membership.Contracts.V1.MemberAddress">
		<ruleset name="DefaultRuleSet">
			<properties>
				<property name="City">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="CityMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
				</property>
				<property name="CountryCode">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="CountryRegionMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
					<validator pattern="" options="None" patternResourceName="CountryRegularExpression"
					   patternResourceType="Corbis.Membership.Contracts.Properties.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					   messageTemplate="" messageTemplateResourceName="CountryInvalid"
					   messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					   tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					   name="Regex Validator" />
          <validator pattern="" options="None" patternResourceName="CountryChina"
					   patternResourceType="Corbis.Membership.Contracts.Properties.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					   messageTemplate="" messageTemplateResourceName="CountryChinaInvalid"
					   messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					   tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					   name="Regex Validator china"  />
				</property>
				<property name="PostalCode">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="ZipCodeMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
					<validator leadProperty="CountryCode"
					  resourceType="Corbis.Membership.Contracts.Properties.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  resourceName="PostalCodeRegularExpression"
					  messageTemplate="" messageTemplateResourceName="ZipCodeInvalid"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Corbis.Common.ServiceFactory.Validation.CascadingValidator, Corbis.Common.ServiceFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  name="Cascading Validator" />
				</property>
				<property name="RegionCode">
					<validator leadProperty="CountryCode"
					  resourceType="Corbis.Membership.Contracts.Properties.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  resourceName="RegionCodeRegularExpression"
					  messageTemplate="" messageTemplateResourceName="RegionCodeMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Corbis.Common.ServiceFactory.Validation.CascadingValidator, Corbis.Common.ServiceFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  name="Cascading Validator" />
					<validator pattern="" options="None" patternResourceName="RegionRegularExpression"
					  patternResourceType="Corbis.Membership.Contracts.Properties.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  messageTemplate="" messageTemplateResourceName="RegionInvalid"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="Regex Validator" />
				</property>

        <property name="Name">
          <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="NameMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator AddressName" />          
        </property>
			</properties>
		</ruleset>
		<ruleset name="CreateMember">
			<properties>
				<property name="Name">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="NameMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
				</property>
				<property name="PhoneNumber">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="20"
								upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="PhoneMissing"
								messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
								name="String Length Validator" />
				</property>
				<property name="Address1">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="BusinessAddressMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
				</property>
			</properties>
		</ruleset>
		<ruleset name="UpdateMemberCreditCard">
			<properties>
				<property name="Address1">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="CreditCardAddressMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
				</property>
			</properties>
		</ruleset>
		<ruleset name="AddMemberCreditCard">
			<properties>
				<property name="Address1">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="CreditCardAddressMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
				</property>
			</properties>
		</ruleset>
	</type>
	<type assemblyName="Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      name="Corbis.Membership.Contracts.V1.CreditCard">
		<ruleset name="DefaultRuleSet">
			<properties>
				<property name="NameOnCard">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="NameOnCardMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
				</property>
				<property name="CreditCardAddress">
					<validator negated="false" messageTemplate="" messageTemplateResourceName="CreditCardAddressMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="Not Null Validator" />
				</property>
				<property name="ExpirationDate">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="ExpirationDateMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
				</property>
			</properties>
		</ruleset>
		<ruleset name="AddMemberCreditCard">
			<properties>
				<property name="CreditCardTypeCode">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="1"
					  upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="CreditCardTypeCodeMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
				</property>
				<property name="CardNumber">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
					  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="CreditCardNumberMissing"
					  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					  name="String Length Validator" />
				</property>
			</properties>
		</ruleset>
	</type>
	<type defaultRuleset="SendImageFeedbackEmail" assemblyName="Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
		name="Corbis.Membership.Contracts.V1.ImageFeedback">
		<ruleset name="SendImageFeedbackEmail">
			<properties>
				<property name="Email">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
										  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="EmailMissing"
										  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
										  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
										  name="String Length Validator" />
					<validator pattern="" options="None" patternResourceName="EmailRegularExpression"
											  patternResourceType="Corbis.Membership.Contracts.Properties.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
											  messageTemplate="" messageTemplateResourceName="EmailInvalid"
											  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
											  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
											  name="Regex Validator" />
				</property>
				<property name="Name">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
										  upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="NameMissing"
										  messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
										  tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
										  name="String Length Validator" />
				</property>
				<property name="Telephone">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="20"
								upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="PhoneMissing"
								messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
								name="String Length Validator" />
				</property>
				<property name="Role">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
								upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="RoleMissing"
								messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
								name="String Length Validator" />
				</property>
				<property name="Comments">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
								upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="CommentsMissing"
								messageTemplateResourceType="Corbis.Membership.Contracts.App_GlobalResources.Resources, Corbis.Membership.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
								name="String Length Validator" />
				</property>
			</properties>
		</ruleset>
	</type>
	<type defaultRuleset="PaymentInformation" assemblyName="Corbis.WebOrders.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Corbis.WebOrders.Contracts.V1.PaymentInformation">
		<ruleset name="DefaultRuleSet">
			<properties>
				<property name="CreditCardValidationCode">
					<validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0" upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="CreditCardValidationCodeMissing"
						messageTemplateResourceType="Corbis.WebOrders.Contracts.App_GlobalResources.Resources, Corbis.WebOrders.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
						name="String Length Validator credit" />
					<validator pattern="" options="None" patternResourceName="CCVRegularExpression" patternResourceType="Corbis.WebOrders.Contracts.Properties.Resources, Corbis.WebOrders.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						messageTemplate="" messageTemplateResourceName="CreditCardValidationCodeInvalid" messageTemplateResourceType="Corbis.WebOrders.Contracts.App_GlobalResources.Resources, Corbis.WebOrders.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Regex Validator" />
				</property>
			</properties>
		</ruleset>
	</type>
</validation>
