<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <!-- <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/> -->
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <!-- 
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          -->
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Corbis.Web.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="LanguageListSelector" type="Corbis.Web.Utilities.CustomConfigurationSettings.ListItemConfiguration, Corbis.Web.Utilities"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="redirections" type="Corbis.Web.UI.HttpModules.XmlSerializerSectionHandler, Corbis.Web.UI.HttpModules"/>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10000000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <appSettings>
    <add key="Environment" value="DEV"/>
    <add key="InBetaMode" value="True"/>
    <add key="BetaBypassKey" value="ZfsZJ3z4wP"/>
    <add key="BetaFeedbackActionAddress" value="https://corbis.bugtrack.net"/>
    <add key="PreferencesCookieVersion" value="V1"/>
    <add key="ProfileCookieExpiryTimeInDays" value="365"/>
    <add key="IpToCountryFilesDirectory" value="/src/IpToCountry"/>
    <add key="IpToCountryFiles" value="delegated-afrinic-latest,delegated-apnic-latest,delegated-arin-latest,delegated-lacnic-latest,delegated-ripencc-latest"/>
    <add key="AllowIpMocking" value="True" />
    <add key="LightboxBuddyImageCount" value="1000"/>
    <add key="EnableCorbisAnalytics" value="False"/>
    <add key="CnHttpHost" value="pro.cn.localhost.corbis.pre"/>
    <add key="CnHttpsHost" value="secure.cn.localhost.corbis.pre"/>
    <add key="UnsupportedBrowserRedirect" value="http://pro.corbisimages.com"/>
  </appSettings>

  <location path="Account/ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Accounts">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="checkout/ordercomplete.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Lightboxes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderHistory">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Registration/RegistrationConfirmation.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Registration/SignInStatus.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Registration">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="checkout/ExpressCheckout.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="checkout/MainCheckout.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <validation configSource="ConfigFiles\Validation.config"/>
  <loggingConfiguration configSource="ConfigFiles\logging.config"/>

  <system.serviceModel>
    <bindings configSource="ConfigFiles\bindings.config"/>
    <client configSource="ConfigFiles\clientEndpoints.config"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="600" />

    <!-- The domain values below need to be set to a value like ".corbis.com" (prod) or ".corbis.pre" (preprod), like so: 
    <httpCookies domain=".corbis.com"/>
    <anonymousIdentification enabled="true" cookieName="CorbisAuth" domain=".corbis.com"/>
		<authentication mode="Forms">
			<forms defaultUrl="Default.aspx" domain=".corbis.com" loginUrl="Registration/SignIn.aspx" name="CorbisAuth" timeout="120"/>
		</authentication>

    -Travis O, 12/2/08
    -->
    <httpCookies domain=".corbis.pre"/>
    <anonymousIdentification enabled="true" cookieName="CorbisAuth" domain=".corbis.pre"/>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" domain=".corbis.pre" loginUrl="default.aspx" name="CorbisAuth" timeout="120"/>
    </authentication>
    
    <authorization>
      <allow users="*"/>
    </authorization>
    
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Errors/PageNotFound.aspx" />
    </customErrors>
    
    <sessionState mode="InProc" timeout="600" cookieless="false"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>

    <httpHandlers configSource="ConfigFiles\handlers.config"/>
    <httpModules configSource="ConfigFiles\httpModules.config"/>
    <membership configSource="ConfigFiles\membership.config"/>
    <pages configSource="ConfigFiles\pages.config"/>
    <profile configSource="ConfigFiles\profile.config"/>
    <roleManager configSource="ConfigFiles\roleManager.config"/>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  
  <applicationSettings>
    <Corbis.Web.UI.Properties.Settings configSource="ConfigFiles\UIProperties.config"/>
  </applicationSettings>
  
  <LanguageListSelector>
    <Items>
      <add Text="Deutsch" Value="de-DE"/>
      <add Text="English (UK)" Value="en-GB"/>
      <add Text="English (US)" Value="en-US"/>
      <add Text="Español" Value="es-ES"/>
      <add Text="Français" Value="fr-FR"/>
      <add Text="Italiano" Value="it-IT"/>
      <add Text="Nederlands" Value="nl-NL"/>
      <add Text="Polski" Value="pl-PL"/>
      <add Text="Português" Value="pt-BR"/>
      <add Text="中文（Chinese）" Value="zh-CHS"/>
      <add Text="日本語 (Japanese)" Value="ja-JP"/>
    </Items>
  </LanguageListSelector>
  
  <redirections type="Corbis.Web.UI.HttpModules.ConfigRedirections, Corbis.Web.UI.HttpModules">
    <!--<add targetUrl="^/content/" destinationUrl="~/Legal/PrivacyPolicy.aspx" ignoreCase="true" permanent="true" />
    <add targetUrl="^/contents" destinationUrl="~/Legal/PrivacyPolicy.aspx" ignoreCase="true" permanent="true" />-->
    <add targetUrl="^/creative/common/privacy.asp$" destinationUrl="~/Legal/PrivacyPolicy.aspx" ignoreCase="true" permanent="true"/>
    <add targetUrl="^/creative/common/privacy.aspx$" destinationUrl="~/Legal/PrivacyPolicy.aspx" ignoreCase="true" permanent="true"/>
    <add targetUrl="^/creative/common/terms.asp$" destinationUrl="~/Legal/SiteUsageAgreement.aspx" ignoreCase="true" permanent="true"/>
    <add targetUrl="^/creative/common/siteusage.aspx$" destinationUrl="~/Legal/SiteUsageAgreement.aspx" ignoreCase="true" permanent="true"/>
    <add targetUrl="^/creative/terms/default.aspx$" destinationUrl="~/Legal/LicenseInfo.aspx" ignoreCase="true" permanent="true"/>
  </redirections>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
