/*
store all language specific css here
to override the English_US default setting
*/

.optionsBlock a span  
{  /* delivery icons in stage 2 of checkout */
    position:relative;
    top:-4px;
 }

a.AddToCart
{
	/*background-image: url(../images/icon-cart-up.gif);*/
	background:transparent url(../../Images/icon-basket.gif) no-repeat 0 0px !important;
	height:20px;
	width: 23px;
}

a.AddToCart:hover
{
	background:transparent url(../../Images/icon-basket.gif) no-repeat 0 -20px !important;
	height: 20px;
}

a.AddToCartSelected
{
	background:transparent url(../../Images/icon-basket.gif) no-repeat 0 -40px !important;
	width: 23px;
	cursor: default;
}

a.ExpressCheckout
{
	/*background-image: url(../images/icon-express-up.gif);*/
	background:transparent url(../../Images/icon-express-basket.gif) no-repeat 0 1px !important;
	width: 30px;
}

a.ExpressCheckout:hover
{
	background:transparent url(../../Images/icon-express-basket.gif) no-repeat 0 -19px !important;
}

a.ExpressCheckoutSelected
{
	background:transparent url(../../Images/icon-express-basket.gif) no-repeat 0 -40px !important;
	width: 30px;
	cursor: default;
}

/* File size modal from Express Checkout download popup - bug 17027 */
#fileSizeModalWindow_contentWrapper
{
    height:450px !important;
}

.SBT_filters img {
    background-image:url(/Images/nl-NL/buddyTabFilters_off.gif);
    height:86px;
}
.SBT_filters.ON img {
    background-image:url(/Images/nl-NL/buddyTabFilters_on.gif);
}
.SBT_filters img:hover {
    background-image:url(/Images/nl-NL/buddyTabFilters_hover.gif);
}

.SBT_lightboxes img 
{
	background-image:url(/Images/nl-NL/buddyTabLightbox_off.gif);
	height:85px;
}
.SBT_lightboxes.ON img 
{
	background-image:url(/Images/nl-NL/buddyTabLightbox_on.gif);
}
.SBT_lightboxes img:hover
{
	background-image:url(/Images/nl-NL/buddyTabLightbox_hover.gif);
}

.SBT_quickpic img {
    background-image:url(/Images/nl-NL/buddyTabQuickPic1.gif);
    height:87px;
}
.SBT_quickpic.ON img {
    background-image:url(/Images/nl-NL/buddyTabQuickPic2.gif);
}
.SBT_quickpic img:hover {
    background-image:url(/Images/nl-NL/buddyTabQuickPic3.gif);
}

#transferLightbox .addMemberControls .addMemberInstruction {
    margin-top:-6px;
    width:262px;           /* bug no. 17861 */
}

/* sort options in search */
.searchResultsContent #sortOptionsMenuDiv
{
     width:210px !important;
}

/* sort options in order history */
#orderHistory .IE7OrLess #sortOptionsMenuDiv
{
     width:235px !important;
}

/* RF pricing price info */
.PriceImageHeader .PricingInfo 
{
    width:356px;
}

/* bug no. 17839 - height of 'you want to quit pricing?' dialog title*/
#confirmCloseWindow .ModalPopupPanelDialog .ModalTitleBar 
{
height:38px !important;
}

/* CHECKOUT */
#quitCheckout .ModalPopupContent { width: 368px; }