@import url("/Stylesheets/helpers/columnLayouts.css");
@import url("/Stylesheets/BrowseBase.css");

/* $$$ ====[ Left Menu area ]*/
div.LeftMenu ul{
	list-style:none;
}
div.LeftMenu li.parent{
	display:block;
	clear:left;
	float:left;
	border-top:1px dotted #6e6e6e;
	width:178px;
	padding-top:5px;
	margin:4px 0 0 20px;
}
div.LeftMenu li.parent a{
	font-weight:normal;
	line-height:1.666em;
	color:#fff;
}
div.LeftMenu li.parent a:hover,
div.LeftMenu li.parent a:active{
	border-bottom:none;
}
div.LeftMenu li.parent:first-child{
	border-top:none;
	margin-top:0;
}
div.LeftMenu li.parent li{
	display:block;
	clear:left;
	float:left;
	border-top:none;
	padding-left:20px;
	position:relative;
	left:-20px;
	width:178px;
}
div.LeftMenu li.parent li a{
	color:#69c;
}
div.LeftMenu li a.active{
	display:block;
	position:relative;
	left:-20px;
	padding-left:20px;
	width:178px;
	background:#414141;
}
div.LeftMenu li.parent li a:active,
div.LeftMenu li.parent li a:hover{
	border-bottom:1px dotted #69c;
}
div.LeftMenu li.parent li a.active{
	color:#ccc;
	border-bottom:none;
	cursor:default;
}

/* $$$ ====[ Content area ]*/

/* Link list styles */
div.MainColumn ul.Links{
	margin-bottom:20px;
}

/* $$$ ====[ Press Releases ]*/
ul.years{
	list-style:none;
}
ul.years li{
	display:block;
	float:left;
}
ul.years a{
	display:block;
	float:left;
	line-height:1.333em;
	margin-right:10px;
	border-bottom:1px dotted transparent;
}
ul.years a:active,
ul.years a:hover{
	border-bottom:1px dotted #69c;
}
ul.pressReleases{
	clear:left;
	float:left;
	width:716px;
	margin-top:20px;
	list-style:none;
}
ul.pressReleases li{
	display:block;
	clear:left;
	float:left;
	width:716px;
	margin:0.5em 0;
	line-height:1.333em;
}
ul.pressReleases li.hidden{
	position:absolute;
	left:-9999em;
}
ul.pressReleases li span.eventDate{
	display:block;
	float:left;
	width:160px;
}
ul.pressReleases li span.eventTitle{
	display:block;
	float:left;
	width:556px;
}
div.modal{
	display:none;
}

/* $$$ ====[ Leadership ]*/
ul.Bios li{
	clear:left;
	float:left;
	margin-bottom:12px;
	width:420px;
}
ul.Bios li img{
	float:left;
	margin-right:10px;
}

/* $$$ ====[ Jobs ]*/
div#CustomerServiceContent{
	width:570px;
	left:0;
	top:0;
	margin-top:30px;
}

/* $$$ ====[ Footer area ]*/
#FooterContent{
	bottom:-167px;
}