<?xml version="1.0"?>
<styles>
  <collection name="base">
    <stylesheet>/Stylesheets/MasterBase.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/resets.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/colors.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/utilities.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/Mocha-Corbis.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/validator.css</stylesheet>
    <stylesheet>/Stylesheets/Modal.css</stylesheet>
    <stylesheet>/StyleSheets/Rfcd.css</stylesheet>
    <stylesheet>/Stylesheets/Mocha.css</stylesheet>
    <stylesheet>/StyleSheets/Search.css</stylesheet>
    <stylesheet>/StyleSheets/SearchMSO.css</stylesheet>
    <stylesheet>/Stylesheets/controls/GlassButton.css</stylesheet>
    <stylesheet>/Stylesheets/controls/ImageCheckbox.css</stylesheet>
    <stylesheet>/Stylesheets/controls/ImageRadio.css</stylesheet>
    <stylesheet>/Stylesheets/controls/TextIconButton.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/tooltips.css</stylesheet>
  </collection>
  <collection name="nosearch">
    <stylesheet>/Stylesheets/MasterBase.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/resets.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/colors.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/utilities.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/Mocha-Corbis.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/validator.css</stylesheet>
    <stylesheet>/Stylesheets/Modal.css</stylesheet>
    <stylesheet>/StyleSheets/Rfcd.css</stylesheet>
    <stylesheet>/Stylesheets/Mocha.css</stylesheet>
    <stylesheet>/Stylesheets/controls/GlassButton.css</stylesheet>
    <stylesheet>/Stylesheets/controls/ImageCheckbox.css</stylesheet>
    <stylesheet>/Stylesheets/controls/ImageRadio.css</stylesheet>
    <stylesheet>/Stylesheets/controls/TextIconButton.css</stylesheet>
    <stylesheet>/Stylesheets/helpers/tooltips.css</stylesheet>
  </collection>
  <collection name="cart">
    <stylesheet>/Stylesheets/Cart.css</stylesheet>
  </collection>
  <collection name="expresscheckout">
    <stylesheet>/StyleSheets/ExpressCheckout.css</stylesheet>
  </collection>
  <collection name="checkout">
    <stylesheet>/StyleSheets/Checkout.css</stylesheet>
  </collection>
  <collection name="filesizes">
    <stylesheet>/StyleSheets/FileSizes.css</stylesheet>
  </collection>
  <collection name="homepage">
    <stylesheet>/StyleSheets/HomePage.css</stylesheet>
  </collection>
  <collection name="enlargement">
    <stylesheet>/StyleSheets/Enlargement.css</stylesheet>
  </collection>
  <collection name="imagegroups">
    <stylesheet>/StyleSheets/ImageGroups.css</stylesheet>
  </collection>
  <collection name="mylightboxes">
    <stylesheet>/Stylesheets/MyLightboxes.css</stylesheet>
  </collection>
  <collection name="orderhistorysummary">
    <stylesheet>/StyleSheets/OrderHistorySummary.css</stylesheet>
  </collection>
  <collection name="rfpricing">
    <stylesheet>/StyleSheets/RFPriceImage.css</stylesheet>
  </collection>
  <collection name="rfpricingheader">
    <stylesheet>/StyleSheets/PricingHeaderRF.css</stylesheet>
  </collection>
  <collection name="rmpricing">
    <stylesheet>/StyleSheets/RMPriceImage.css</stylesheet>
  </collection>
  <collection name="rmpricingheader">
    <stylesheet>/StyleSheets/PricingHeader.css</stylesheet>
  </collection>
    <collection name="unsupportedbrowser">
        <stylesheet>/StyleSheets/UnsupportedBrowser.css</stylesheet>
    </collection>
</styles>
